.card
{
    width: 80px;
    height: 80px;
    background: blue;
}

.video-js { background: transparent !important;}
.video-wrapper
{
    //les class tailwind sont strip à l'initialisation de videojs
    video
    {
        object-fit: cover;
        width: 100%;
        height: 100%;
        //position: absolute;
    }

   
}
.hero 
{ 
    background:transparent; 
    height: auto;
    background: white;

    // @include breakpoint(min, medium) {
    //     height: 80vh;
    // };

   .hero-img-container
   {
    height: 80vh;
    //background-image: url('../img/this/img-opening.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

        @media screen and (max-width: 768px) {
            height: 60vh;
        }
   }

    

}
.hero .video-wrapper video { position: absolute; }
// .vjs-control-bar { display: none !important; }
.player1-dimensions, .player2-dimensions, .player3-dimensions, .player4-dimensions { width: 100%; height: 100%;}

.gradient
{
    background: radial-gradient(ellipse at center, transparent 0%, black 100%);
    opacity: .5;
}

.overlay-black 
{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)) !important;
    
}

.menu_overlay
{
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
    top: 0;

    &.is-visible 
    {
        opacity: .5;
        visibility: visible;
        transition: all .2s;
    }
}

.heading
{
    background: #A7A879;
    //border-radius: 80px;
    //box-shadow: -40px 33px 76px #00000039;
    //height: 500px;
    // figure 
    // {
    //     border-radius: 80px;
    //     box-shadow: -40px 33px 76px #00000039;
    // }
}
.anim-container
{
    //height:80vh;
}
.anim
{
    background:#FFFBED;
}

footer
{
    height: 100vh;
    background:#202124;
}

.frame { background: red; }

.hero figure { background:transparent; }

figure ul 
{
    border-left: 40px solid #A7A879;
    font-weight: 300;
    //height:10px;

    li 
    {
        padding-left: 40px;
    }
}

.color 
{
    background: red;
    //overflow: hidden;
}

.color-gradient
{
    background: transparent linear-gradient(60deg, #abd5d4 0%, #EDFFFF 100%) 0% 0% no-repeat padding-box;
}

.parallax
{
    aspect-ratio: 16/8;

    
}

#parallax1 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax2 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax3 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax4 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax5 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

img.miniheader-img
{
    //max-height: 345px;
    height: 250px;
    left: 75%;
    top: 0%;
    //min-height: 327px;

    // @include breakpoint(min, medium) {
    //     height: 150%;
    //     top: 50%;
    //     left: 75%;
    //     transform: translateY(-50%); 
    //     max-height: 542px;
    // };
}



#title4 .miniheader-img
{
    height: 110%;

    // @include breakpoint(min, medium) {
    //     max-height: 542px;
    // };
}

.jBox-wrapper
{

    &::before { box-shadow: 0 0 5px rgba(0,0,0, 0); }
    
    .jBox-container
    {
        font-size: 16px;
        font-family: Roboto mono;
        box-shadow: 0 0 5px rgba(0,0,0, 0);
        border: 0;

        .jBox-content
        {
            background: red;
            color: rgba(0, 0, 0, .5);
        }

        .jBox-closeButton
        {
            background: red !important;

            svg path { fill: rgba(0, 0, 0, .5); } 
           
        }
    }

    .jBox-pointer::after
    {
        background: red;
        box-shadow: 0 0 5px rgba(0,0,0, 0);
    }
}

.tag
{
    margin-bottom: 5px;
    line-height: 1;

    // @include breakpoint(min, medium) {
    //     margin-bottom: 5px;
    //     line-height: 1;
    // };
}

.tag:hover
{
    
        background: darken(red, 4%);
    
}


#btn1, #btn2, #btn3, #btn4, #btn-pass
{
    cursor: pointer;
    transition: all 0.2s;

    // &:hover
    // {
    //     transform: scale(1.1);
    //     transition: all 0.2s;
    // }
}

.cbp_tmlabel
{
    background: white;
    padding: 0;
}

#instagram-embed-0
{
    margin: auto !important;
    margin-top: 0!important;
    margin-bottom: 0 !important;
}

.bg-gray-100
{
    background-color: #f0f2f5 !important;
}


.plyr
{
    button.plyr__control:hover
    {
        background-color: rgb(73, 73, 73) !important;
    }

    input
    {
        border-bottom-color : rgb(73, 73, 73) !important;
        border-left-color: rgb(73, 73, 73) !important;
        border-right-color: rgb(73, 73, 73) !important;
        border-top-color: rgb(73, 73, 73) !important;
        color: rgb(73, 73, 73) !important;
    }
}


.owl-carousel
{
    position: relative;

    .owl-nav
    {
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        width: 100%;
        height: 0px;

        @media screen and (max-width: 768px) {
            top: 30%;
        }

        .owl-prev, .owl-next
        {
            background: rgba(0, 0 , 0, .75) !important;
            border-radius: 50px;
            height: 40px;
            width: 40px;

            span 
            {
                font-size: 50px;
                padding-bottom: 10px !important;
            }
        }

        .owl-prev
        {
            position: absolute;
            transform: translateX(-50%);

            span 
            {
                position: absolute;
                top: -17px;
                left: 12px;
            }
            
        }

        .owl-next
        {
            position: absolute;
            right: 0;
            transform: translateX(50%);

            span 
            {
                position: absolute;
                top: -17px;
                right: 12px;
            }
        }
    }
}

.owl-dots
{
    .owl-dot
    {
        width: 10px !important;
        height: 10px !important;
        background: gray !important;
        border-radius: 20px !important;
        margin: 10px 5px;

        &.active
        {
            background: #e2001a !important;
        }
    }
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: auto;
	/* padding-right: 100px; */
	position: absolute;
	color: white !important;
	font-family: Poppins;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 8px;
	line-height: 1.1;
	/* padding-top: 6px; */
	background: #e2001a;
	/* display: inl; */
	border-radius: 20px;
	//padding: 10px 13px 0 13px;

	margin-top: 4px;
	left: 0;


    @media screen and (max-width: 768px) {
        font-size: 10px !important;
        padding: 5px 10px;
        //left: 16px;
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
    }
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 10px;
	height: 10px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	/* text-transform: uppercase !important; */
	font-size: 0em;
	line-height: 45px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: black;
	background: #fff;
	background: #e2001a;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #e2001a;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 15px 0 0 0px;

	@media screen and (max-width: 768px) {
        display: none;
    }
}

iframe
{
    min-width: auto !important;;
    width: 100%;
}

.opening
{
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
    background-image: url('../img/this/img-opening.jpg');
    background-size: cover;
    background-position: center center;
   
}

.plyr__volume 
{
    display: none;
}

// .zoom
// {
//     cursor: pointer;
// }

