.card
{
    width: 80px;
    height: 80px;
    background: blue;
}

.video-js { background: transparent !important;}
.video-wrapper
{
    //les class tailwind sont strip à l'initialisation de videojs
    video
    {
        object-fit: cover;
        width: 100%;
        height: 100%;
        //position: absolute;
    }

   
}
.hero 
{ 
    background:transparent; 
    height: 80vh;
    background: gray;

    // @include breakpoint(min, medium) {
    //     height: 80vh;
    // };

    svg#opening
    {
        
        position: absolute;
        width: 110%;
        height: auto;
        right: 13%;
        bottom: 0;
        max-height: 90%;

        //top: 50px;
       
        // @include breakpoint(min, medium) {
        //     position: absolute;
        //     width: 610px;
        //     height: auto;
        //     right: 50px;
        //     bottom: 0;
        //     max-height: 90%;

        // };

    }

}
.hero .video-wrapper video { position: absolute; }
// .vjs-control-bar { display: none !important; }
.player1-dimensions, .player2-dimensions, .player3-dimensions, .player4-dimensions { width: 100%; height: 100%;}

.gradient
{
    background: radial-gradient(ellipse at center, transparent 0%, black 100%);
    opacity: .5;
}

.menu_overlay
{
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &.is-visible 
    {
        opacity: .5;
        visibility: visible;
        transition: all .2s;
    }
}

.heading
{
    background: #A7A879;
    //border-radius: 80px;
    //box-shadow: -40px 33px 76px #00000039;
    //height: 500px;
    // figure 
    // {
    //     border-radius: 80px;
    //     box-shadow: -40px 33px 76px #00000039;
    // }
}
.anim-container
{
    //height:80vh;
}
.anim
{
    background:#FFFBED;
}

footer
{
    height: 100vh;
    background:#202124;
}

.frame { background: red; }

.hero figure { background:transparent; }

figure ul 
{
    border-left: 40px solid #A7A879;
    font-weight: 300;
    //height:10px;

    li 
    {
        padding-left: 40px;
    }
}

.color 
{
    background: red;
    //overflow: hidden;
}

.color-gradient
{
    background: transparent linear-gradient(60deg, #abd5d4 0%, #EDFFFF 100%) 0% 0% no-repeat padding-box;
}

.parallax
{
    aspect-ratio: 16/8;

    
}

#parallax1 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax2 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax3 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax4 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

#parallax5 .parallax-bg
{
    height: 200%;
    // position: relative;
    top: -100%;
}

img.miniheader-img
{
    //max-height: 345px;
    height: 250px;
    left: 75%;
    top: 0%;
    //min-height: 327px;

    // @include breakpoint(min, medium) {
    //     height: 150%;
    //     top: 50%;
    //     left: 75%;
    //     transform: translateY(-50%); 
    //     max-height: 542px;
    // };
}



#title4 .miniheader-img
{
    height: 110%;

    // @include breakpoint(min, medium) {
    //     max-height: 542px;
    // };
}

.jBox-wrapper
{

    &::before { box-shadow: 0 0 5px rgba(0,0,0, 0); }
    
    .jBox-container
    {
        font-size: 16px;
        font-family: Roboto mono;
        box-shadow: 0 0 5px rgba(0,0,0, 0);
        border: 0;

        .jBox-content
        {
            background: red;
            color: rgba(0, 0, 0, .5);
        }

        .jBox-closeButton
        {
            background: red !important;

            svg path { fill: rgba(0, 0, 0, .5); } 
           
        }
    }

    .jBox-pointer::after
    {
        background: red;
        box-shadow: 0 0 5px rgba(0,0,0, 0);
    }
}

.tag
{
    margin-bottom: 5px;
    line-height: 1;

    // @include breakpoint(min, medium) {
    //     margin-bottom: 5px;
    //     line-height: 1;
    // };
}

.tag:hover
{
    
        background: darken(red, 4%);
    
}


#btn1, #btn2, #btn3, #btn4, #btn-pass
{
    cursor: pointer;
    transition: all 0.2s;

    // &:hover
    // {
    //     transform: scale(1.1);
    //     transition: all 0.2s;
    // }
}

.cbp_tmlabel
{
    background: white;
    padding: 0;
}

#instagram-embed-0
{
    margin: auto !important;
    margin-top: 0!important;
    margin-bottom: 0 !important;
}

.bg-gray-100
{
    background-color: #f0f2f5 !important;
}

