html
{
    scroll-behavior: smooth;
    max-width: 100%;

    //overflow-x: hidden;
    
}
body 
{
    position: relative;
    overflow-x: hidden;
    //min-height: 100%;

    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    //background: #FDDD93;

    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: scroll; /* Enable vertical scrolling */

    &.is-visible
    {
        opacity: 1;
        visibility: visible;
        transition: all .4s;
    }
}

.wrapper
{
    overflow-x: hidden;
}

.container
{
    margin: auto;
}



.is-blurry
{
    filter: blur(8px);
}

.mobile-hidden
{
    display: none;
    
}

.desktop-hidden
{
    display: block;
    
}

.text-custom-h2
{
    font-size: 1.4rem;
    line-height: 1.65rem;

    

}

.text-custom-h3
{
    font-size: 2.125rem;
    // line-height: 2.81rem;
}

.text-custom-h4
{
    font-size: 1.2rem;
    line-height: 1.3;
    // line-height: 2.81rem;
  
}

.bg-custom-tag
{
    background: red; 
}

.text-custom-tag
{
    color: #b4e0df;
}

.text-custom-color
{
    color: #3172A2;
}

.w-custom-logo
{
    width: 5rem;

  
}

.bg-custom-audio
{
    background-color: #fcf0ae;
}

#artdeco-global-alerts-cls-offset
{
    display: none!important;
}



// #opening-center:hover
// {
//     transform: scale(2);
//     transform-origin: center center;
// }


#opening-graph-line
{
    stroke-dasharray: 340;
    stroke-dashoffset: 340;

    &.is-drawn 
    {
        stroke-dasharray: 340;
        stroke-dashoffset: 170;
        animation: dash 1.5s linear forwards;
        opacity: 1 !important;
    }

}


@keyframes dash {
    from {
      stroke-dashoffset: 340;
    }
    to {
      stroke-dashoffset: 170;
    }
  }
